* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

body {
  background-color: #000;
}

form {
display: inline-block;
}

h1 {
  padding-bottom: 5%;
}

input {
width: 100%;
}

.formtag {
text-align:left;
margin-top:5%;
margin-bottom:2%;
}

.form{
text-align: center;
}

.formbackground {
  width:50%;
  height:50%;
  margin-top:10%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 8%;
  border: 5px solid #868686;
}

.submit{
margin:7% 0 5% 0;
padding:2%;
}

.show{
  display:all;
  text-align:left;
  color:red;
}

.hidefirst{
  display: none;
}



.hidelast{
  display: none;
}

.hideemail{
  display: none;
}

}

.hideusername {
  display: none;
}

.passwordone{
  text-align: left;
  color: #000;
}

.passwordtwo{
  text-align: left;
  color: #000;
}

.passwordwrongone{
  text-align: left;
  color: red;
}

.passwordwrongtwo{
  text-align: left;
  color: red;
}

.passwordrightone{
  text-align: left;
  color: green;
}

.passwordrighttwo{
  text-align: left;
  color: green;
}

.hidepassword{
  display: none;
}

.hiderpassword{
  display: none;
}